{% include 'megasena/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-4">MegaSena</h1>
    </div>
    {% if escolher != True %}
    <form method="post" action="{% url 'index' %}" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>
    {% else %}
        <p>Quantidade de cartelas para esse jogo..: {{ qt_de_cartela_do_jogo }} </p>
        <ul class="list-group list-group-horizontal-md">
            {% for jogo in jogos %}
            <li class="list-group-item">{{ jogo }}</li>
            {% endfor %}
        </ul>
        <h4>Cartelas Sorteadas</h4>
        <ul class="list-group">
            {% for cartela in cartelas_sorteadas %}
                <li class="list-group-item">{{ cartela }}</li>
            {% endfor %}
        </ul>
        <a class="btn btn-success" href="{% url 'index' %}">Voltar</a>
    {% endif %}
</div>
{% endblock %}